---
layout: page
title: Tags
---

<ul id="tagcloud">
  {% for tag in site.tags %}
  <li data-weight="{{ tag[1].size }}"><a href="#" onclick="show(this)">{{ tag[0] }}</a></li>
  {% endfor %}
</ul>

<br style="clear: left">

{% for tag in site.tags %}
<ul id="{{ tag[0] }}" class="posts tag posts-unselected">
  {% for post in tag[1] %}
  <li><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
{% endfor %}

<script src="//cdn.bootcss.com/jquery/3.1.0/jquery.slim.min.js"></script>
<script src="{{ site.baseurl }}/public/js/jquery.tx3-tag-cloud.js"></script>
<script type="text/javascript">
function show(e) {
  $("ul.posts").each(function() {
    var p = $(this);
    var s = p.attr("id") != $(e).text();
    p.toggleClass("posts-unselected", s);
  });
}

$(document).ready(function(){
  $("#tagcloud").tx3TagCloud({
    multiplier: 2
  });
});
</script>
