<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>©zhongl.github.io</li>
        </ul>
      </div>

      <div class="footer-col footer-col-1">
        <h3>友情链接</h3>
        <ul class="link-list">
          <li><a href="http://afoo.me">阿福 - 瞎子摸象的践行者</a></li>
          <li><a href="http://hongjiang.info">宏江 - 写点什么</a></li>
        </ul>
      </div>
    </div>

  </div>

</footer>
